﻿/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}




.fixed-bg {
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
}




.flex-parent-y {
	display: flex;
	flex-flow: column;
}

.flex-parent-x {
	display: flex;
	flex-flow: row;
}

.flex-auto-std {
	flex: 0 1 auto;
}

.flex-auto-grow {
	flex: 1 1 auto;
}

.flex-auto-rigid {
	flex: 0 0 auto;
}