@font-face {
    font-family: 'alphahate';
    src: url(../fonts/alphahate.regular.ttf);
}



/*----------Page------------*/
body:before {
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	background: #111014 url(../images/hogwarts.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


body {
	margin: 0;
	height: 100%;
	overflow-y: auto;
}

.hogwarts-bg {
	background: #111014 url(../images/hogwarts.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: 50% 50%;
}

.appcontent {
	height: auto;
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.bgoverlay {
	background: linear-gradient(rgba(0, 0, 0, 0.4), transparent);
	position: absolute;
	width: 100%;
	height: 18px;
}



/*----------Header----------*/
header {
	border-bottom-style: solid;
	border-bottom-color: #404040;
	border-bottom-width: 0.1px;
	position: relative;
	background: white;
}

h1 {
	font-family: 'alphahate';
	font-size: 90px;
	font-weight: normal;
	text-transform: capitalize;
	margin: 0;
}

ul#header-list {
	font-family: 'alphahate';
	font-size: 90px;
	margin: 45px;
	margin-top: 15px;
	margin-bottom: 30px;
	list-style-type: none;
	text-align: center;
	padding: 0;
}

ul#header-list li {
	display: inline-block;
	padding: 0;
	margin: 0;
	cursor: move;
}

.leftornament {
	position: absolute;
	top: 5px;
	left: 5px;
	pointer-events: none;
}

.rightornament {
	position: absolute;
	right: 5px;
	bottom: 5px;
	transform: rotate(180deg);
	margin: 5px;
	pointer-events: none;
}

.dragdropnote {
	position: absolute;
	bottom: 2px;
	text-align: center;
	width: 100%;
	left: 0;
	font-style: italic;
	color: #DDDDDD;
	user-select: none;
}



/*----------Form------------*/
.center-div {
	width: 350px;
	margin: 0 auto;
	font-family: "Helvetica", Sans-serif;
}

form.postform {
	margin-top: 65px;
}

div.postform {
	width: 100%;
	margin-bottom: 5px;
}

button.postform {
	margin-left: 5px;
}

.alertwrapper {
	padding: 5px 5px;
}



/*---------Results---------*/
.list-group {
}

.list-group-item {
	background: rgba(255, 255, 255, 0.8);
	font-weight: 500;
	text-align: center;
	text-transform: capitalize;
}

span.fake-link {
	color: black;
	text-decoration: none;
	cursor: pointer;
}



/*---------Footer-----------*/
.footer {
	text-align: center;
	color: lightgray;
	font-size: small;
}

a.redLink:link {
	color: darkred;
}

a.redLink:visited {
	color: darkred;
}

a.redLink:hover {
	color: red;
}

a.redLink:active {
	color: red;
}

#share-buttons img {
	width: 35px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: inline;
}

#share-buttons {
	margin: 0 auto;
	margin-top: 5px;
}

a.socialLink {
	text-decoration: none;
}