﻿@page
@model IAmLordVoldemort.Pages.indexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>I Am Lord Voldemort</title>
	<meta name="description" content="Rearrange your filthy mudblood name">
	<meta name="author" content="James Coyle">

	<meta property="og:image" content="http://iamlordvoldemort.com/images/darkmark.jpg" />
	<meta property="og:image:type" content="image/jpg" />
	<meta property="og:image:width" content="391" />
	<meta property="og:image:height" content="391" />

	<link rel="manifest" href="manifest.json">

	<link rel="icon" type="image/png" href="~/images/favicon.png">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="styles/generic.css?@DateTime.Now.Ticks">
	<link rel="stylesheet" href="styles/style.css?@DateTime.Now.Ticks">
	@if (Model.IsMobile)
	{
		<link rel="stylesheet" href="styles/mobileStyle.css?@DateTime.Now.Ticks">
	}

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="scripts/Sortable.js"></script>

	<script language="javascript">
		var muggleName = "@Model.MuggleName";
		var wizardName = "";

		var changeTopSentence = function (sentence) {
			var splitSentence = sentence.split(" ");
			var headerListInnerHtml = "";
			for(split of splitSentence)
			{
				headerListInnerHtml += "<li><h1>" + split + "&nbsp;</h1></li>";
			}
			$("#header-list").html(headerListInnerHtml);

			wizardName = sentence.toProperCase();

			var defaultFontPixels = 90;
			var fontPixelsChangePerCharacter = 1;
			var maxFontPixels = 90;
			var minFontPixels = 70;

			var ialvLength = "I Am Lord Voldemort".length;
			var lengthDiff = sentence.length - ialvLength;
			var newFontPixels = defaultFontPixels - (lengthDiff * fontPixelsChangePerCharacter);
			newFontPixels = Math.max(minFontPixels, newFontPixels);
			newFontPixels = Math.min(maxFontPixels, newFontPixels);
			$("#header-list").css("font-size", newFontPixels + "px");

			setShareLinks();
		};

		var setListItemsInactive = function () {
			$("li.list-group-item").removeClass("active");
		};

		var setListItemActive = function (element) {
			while (element.tagName.toLowerCase() != "li") {
				if (element.parentNode == null) {
					return;
				}
				element = element.parentNode;
			}
			element.classList.add("active");
		};

		String.prototype.toProperCase = function () {
			return this.replace(/\w\S*/g, function (txt) { return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase(); });
		};

		var getOrderedWizardName = function () {
			if (wizardName == null || wizardName == "")
				return "";
			var val = "";
			$("#header-list li").each(function (index, li) {
				val += li.textContent.trim() + " ";
			});
			val = val.trim();
			return val.toProperCase();
		}

		var getSharingMessage = function () {
			if (muggleName == null || muggleName == "" || wizardName == "")
				return "Rearrange your muggle name".replace(" ", "%20");
			var orderedName = getOrderedWizardName();
			return (muggleName + " -> " + orderedName).replace(" ", "%20");
		};

		var setShareLinks = function () {
			$("#bufferShare").attr("href", "https://bufferapp.com/add?url=http://www.iamlordvoldemort.com&amp;text=" + getSharingMessage());
			$("#facebookShare").attr("href", "http://www.facebook.com/sharer.php?u=http://www.iamlordvoldemort.com&quote=" + getSharingMessage());
			$("#redditShare").attr("href", "http://reddit.com/submit?url=http://www.iamlordvoldemort.com&amp;title=" + getSharingMessage());
			$("#stumbleShare").attr("href", "http://www.stumbleupon.com/submit?url=http://www.iamlordvoldemort.com&amp;title=" + getSharingMessage());
			$("#tumblrShare").attr("href", "http://www.tumblr.com/share/link?url=http://www.iamlordvoldemort.com&amp;title=" + getSharingMessage());
			$("#twitterShare").attr("href", "https://twitter.com/share?url=http://www.iamlordvoldemort.com&amp;hashtags=iamlordvoldemort&amp;text=" + getSharingMessage());
		}

		window.onload = function () {
			setShareLinks();
			@if (Model.Sentences != null && Model.Sentences.Count > 0)
			{
				@: setListItemsInactive();
				@: setListItemActive(document.getElementById("result_0"));
				@: changeTopSentence("@Model.Sentences[0]");
			}
			var sortable = Sortable.create(document.getElementById("header-list"), {
				onUpdate: function (evt) {
					setShareLinks();
				}
			});
		}
	</script>
</head>

<body class="flex-parent-y">
	<header>
		<img src="~/images/ornament.png" class="leftornament" />
		<ul id="header-list"><li><h1>i&nbsp;</h1></li><li><h1>am&nbsp;</h1></li><li><h1>lord&nbsp;</h1></li><li><h1>voldemort&nbsp;</h1></li></ul>
		<p class="dragdropnote">Drag and drop words to rearrange them</p>
		<img src="~/images/ornament.png" class="rightornament" />
	</header>

	<div class="appcontent flex-parent-y flex-auto-grow">
		<div class="bgoverlay"></div>

		@if (!string.IsNullOrEmpty(Model.ErrorMessage))
		{
			<div class="alert alert-danger m-2 alert-dismissible fade show">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				@Model.ErrorMessage
			</div>
		}

		<div class="center-div flex-auto-grow">
			<form method="post" class="postform">
				<div class="postform flex-parent-x">
					<input asp-for="MuggleName" placeholder="Enter your filthy mudblood name" class="flex-auto-grow" />
					<button type="submit" class="postform">Submit</button>
				</div>
				<div class="postform flex-parent-x">
					<input asp-for="RequiredText" placeholder="(Optional) Words To Include..." class="flex-auto-grow" />
				</div>
			</form>

			@if (Model.Sentences != null)
			{
				if (Model.Sentences.Count > 0)
				{
					<ul class="list-group">
						@for (int i = 0; i < Model.Sentences.Count; i++)
						{
							var sentence = Model.Sentences[i];
							<li class="list-group-item">
								<span id="result_@i" class="fake-link" onclick="setListItemsInactive(); setListItemActive(this); changeTopSentence(&quot;@sentence&quot;);">@sentence</span>
							</li>
						}
					</ul>
				}
				else
				{
					<div class="alert alert-danger mt-2 alert-dismissible fade show">
						<a href="#" class="close" data-dismiss="alert">&times;</a>
						Sorry muggle! Not everyone is worthy of a cool wizard name
					</div>
				}
			}
		</div>

		<div class="footer">
			<!--I got these buttons from simplesharebuttons.com-->
			<div id="share-buttons">
				<!-- Buffer -->
				<a id="bufferShare" href="" target="_blank" class="socialLink">
					<img src="https://simplesharebuttons.com/images/somacro/buffer.png" alt="Buffer" />
				</a>

				<!-- Digg -->
				<a id="diggShare" href="http://www.digg.com/submit?url=http://www.iamlordvoldemort.com" target="_blank" class="socialLink">
					<img src="https://simplesharebuttons.com/images/somacro/diggit.png" alt="Digg" />
				</a>

				<!-- Facebook -->
				<a id="facebookShare" href="" target="_blank" class="socialLink">
					<img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
				</a>

				<!-- Google+ -->
				<a id="googleShare" href="https://plus.google.com/share?url=http://www.iamlordvoldemort.com" target="_blank" class="socialLink">
					<img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
				</a>

				<!-- LinkedIn -->
				<a id="linkinShare" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.iamlordvoldemort.com" target="_blank" class="socialLink">
					<img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
				</a>

				<!-- Reddit -->
				<a id="redditShare" href="" target="_blank" class="socialLink">
					<img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
				</a>

				<!-- StumbleUpon-->
				<a id="stumbleShare" href="" target="_blank" class="socialLink">
					<img src="https://simplesharebuttons.com/images/somacro/stumbleupon.png" alt="StumbleUpon" />
				</a>

				<!-- Tumblr-->
				<a id="tumblrShare" href="" target="_blank" class="socialLink">
					<img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
				</a>

				<!-- Twitter -->
				<a id="twitterShare" href="" target="_blank" class="socialLink">
					<img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
				</a>
			</div>

			<p>Created by James Coyle | <a href="https://www.freepik.com/free-photos-vectors/frame" class="redLink">Frame vector created by Freepik</a></p>
		</div>
	</div>
</body>
</html>
