﻿@page
@model IAmLordVoldemort.Pages.updateModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>update</title>
</head>
<body>
	@if (Model.UpdateCount == 0)
	{
		<p>No records added</p>
	}
	else
	{
		<p>@Model.UpdateCount records added</p>
	}
</body>
</html>
